@font-face {
  font-family: 'Kristi';
  font-style: normal;
  font-weight: normal;
  src: local('Kristi'), url('http://themes.googleusercontent.com/static/fonts/kristi/v2/ilC_0_Z29-euzuGxRFaDlevvDin1pK8aKteLpeZ5c0A.woff') format('woff');
}
