@font-face {
  font-family: 'Bevan';
  font-style: normal;
  font-weight: normal;
  src: local('Bevan'), url('http://themes.googleusercontent.com/static/fonts/bevan/v2/EJh9uh2wkQP9ayreC3xPZaCWcynf_cDxXwCLxiixG1c.woff') format('woff');
}
