  <!-- Panel Starts -->
<div class="panel" id="panel_1" style="float: left; position: relative; ">
<!-- Panel Inside Starts -->
<div class="inside">
<!-- Image Starts -->
<img src="./FancyMoves - jQuery product slider - with FancyBox built in - WebDesignAndSuch.com_files/img66.jpg" alt="">
            <p>math problem (charcoal)<br>
              <a class="zoom2" href="http://webdesignandsuch.com/posts/jquery-product-slider/jQuery-productSlider/images/5-2.jpg" target="_blank" rel="group6">More Views</a>
              <a class="zoom2" href="http://webdesignandsuch.com/posts/jquery-product-slider/jQuery-productSlider/images/5-3.jpg" target="_blank" rel="group6"></a>
            <a class="zoom2" href="./FancyMoves - jQuery product slider - with FancyBox built in - WebDesignAndSuch.com_files/img66.jpg" target="_blank" rel="group6"></a></p>
<!-- Image Ends -->
          
          

</div>
<!-- Panel Inside Ends -->
</div>
<!-- Panel Ends -->
  
  
  <!-- Panel Starts -->
<div class="panel" id="panel_2" style="float: left; position: relative; ">
<!-- Panel Inside Starts -->
<div class="inside">
<!-- Image Starts -->
<img src="./FancyMoves - jQuery product slider - with FancyBox built in - WebDesignAndSuch.com_files/img22.jpg" alt="">
            <p>path to nowhere<br>
              <a class="zoom2" href="http://webdesignandsuch.com/posts/jquery-product-slider/jQuery-productSlider/images/red-1.jpg" target="_blank" rel="group2">More Views</a>
              <a class="zoom2" href="http://webdesignandsuch.com/posts/jquery-product-slider/jQuery-productSlider/images/red-2.jpg" target="_blank" rel="group2"></a>
            <a class="zoom2" href="./FancyMoves - jQuery product slider - with FancyBox built in - WebDesignAndSuch.com_files/img22.jpg" target="_blank" rel="group2"></a></p>
<!-- Image Ends -->

</div>
<!-- Panel Inside Ends -->
</div>
<!-- Panel Ends -->
  
  <!-- Panel Starts -->
<div class="panel" id="panel_3" style="float: left; position: relative; width: 350px; display: block; ">
<!-- Panel Inside Starts -->
<div class="inside">
<!-- Image Starts -->
<img src="./FancyMoves - jQuery product slider - with FancyBox built in - WebDesignAndSuch.com_files/img3.jpg" alt="" style="width: 326px; display: block; ">
            <p style="font-size: 15px; ">and then I woke up<br>
              <a class="zoom2" href="http://webdesignandsuch.com/posts/jquery-product-slider/jQuery-productSlider/images/ss-1.jpg" target="_blank" rel="group3">More Views</a>
              <a class="zoom2" href="http://webdesignandsuch.com/posts/jquery-product-slider/jQuery-productSlider/images/ss-2.jpg" target="_blank" rel="group3"></a>
            <a class="zoom2" href="./FancyMoves - jQuery product slider - with FancyBox built in - WebDesignAndSuch.com_files/img3.jpg" target="_blank" rel="group3"></a></p>
<!-- Image Ends -->

</div>
<!-- Panel Inside Ends -->
</div>
<!-- Panel Ends -->
  
  <!-- Panel Starts -->
<div class="panel" id="panel_4" style="float: left; position: relative; ">
<!-- Panel Inside Starts -->
<div class="inside">
<!-- Image Starts -->
<img src="./FancyMoves - jQuery product slider - with FancyBox built in - WebDesignAndSuch.com_files/img4.jpg" alt="">
            <p>one hundred<br>
              <a class="zoom2" href="http://webdesignandsuch.com/posts/jquery-product-slider/jQuery-productSlider/images/100-1.jpg" target="_blank" rel="group4">More Views</a>
              <a class="zoom2" href="http://webdesignandsuch.com/posts/jquery-product-slider/jQuery-productSlider/images/100-2.jpg" target="_blank" rel="group4"></a>
            <a class="zoom2" href="./FancyMoves - jQuery product slider - with FancyBox built in - WebDesignAndSuch.com_files/img4.jpg" target="_blank" rel="group4"></a></p>
<!-- Image Ends -->

</div>
<!-- Panel Inside Ends -->
</div>
<!-- Panel Ends -->
  
  <!-- Panel Starts -->
<div class="panel" id="panel_5" style="float: left; position: relative; ">
<!-- Panel Inside Starts -->
<div class="inside">
<!-- Image Starts -->
<img src="./FancyMoves - jQuery product slider - with FancyBox built in - WebDesignAndSuch.com_files/img5.jpg" alt="">
            <p>math problem<br>
              <a class="zoom2" href="http://webdesignandsuch.com/posts/jquery-product-slider/jQuery-productSlider/images/5-1.jpg" target="_blank" rel="group5">More Views</a>
            <a class="zoom2" href="./FancyMoves - jQuery product slider - with FancyBox built in - WebDesignAndSuch.com_files/img5.jpg" target="_blank" rel="group5"></a></p>
<!-- Image Ends -->

</div>
<!-- Panel Inside Ends -->
</div>
<!-- Panel Ends -->
  
 
  
  <!-- Panel Starts -->
<div class="panel" id="panel_6" style="float: left; position: relative; ">
<!-- Panel Inside Starts -->
<div class="inside">
<!-- Image Starts -->
<img src="./FancyMoves - jQuery product slider - with FancyBox built in - WebDesignAndSuch.com_files/img1.jpg" alt="">
            <p>seven days a week<br>
              <a class="zoom2" href="http://webdesignandsuch.com/posts/jquery-product-slider/jQuery-productSlider/images/7-1.jpg" target="_blank" rel="group1">More Views</a>
              <a class="zoom2" href="http://webdesignandsuch.com/posts/jquery-product-slider/jQuery-productSlider/images/7-2.jpg" target="_blank" rel="group1"></a>
            <a class="zoom2" href="./FancyMoves - jQuery product slider - with FancyBox built in - WebDesignAndSuch.com_files/img1.jpg" target="_blank" rel="group1"></a></p>
<!-- Image Ends -->

</div>
<!-- Panel Inside Ends -->
</div>
<!-- Panel Ends -->
  
  <!-- Panel Starts -->
<div class="panel" id="panel_7" style="float: left; position: relative; ">
<!-- Panel Inside Starts -->
<div class="inside">
<!-- Image Starts -->
<img src="./FancyMoves - jQuery product slider - with FancyBox built in - WebDesignAndSuch.com_files/img7.jpg" alt="">
            <p>there's more to life<br>
              <a class="zoom2" href="http://webdesignandsuch.com/posts/jquery-product-slider/jQuery-productSlider/images/more-1.jpg" target="_blank" rel="group7">More Views</a>
              <a class="zoom2" href="http://webdesignandsuch.com/posts/jquery-product-slider/jQuery-productSlider/images/more-2.jpg" target="_blank" rel="group7"></a>
            <a class="zoom2" href="./FancyMoves - jQuery product slider - with FancyBox built in - WebDesignAndSuch.com_files/img7.jpg" target="_blank" rel="group7"></a></p>
<!-- Image Ends -->

</div>
<!-- Panel Inside Ends -->
</div>
<!-- Panel Ends -->
  
  <!-- Panel Starts -->
<div class="panel" id="panel_8" style="float: left; position: relative; ">
<!-- Panel Inside Starts -->
<div class="inside">
<!-- Image Starts -->
<img src="./FancyMoves - jQuery product slider - with FancyBox built in - WebDesignAndSuch.com_files/img8.jpg" alt="">
            <p>Label info here<br>
              <a class="zoom2" href="http://webdesignandsuch.com/posts/jquery-product-slider/jQuery-productSlider/images/e-1.jpg" target="_blank" rel="group8">More Views</a>
              <a class="zoom2" href="http://webdesignandsuch.com/posts/jquery-product-slider/jQuery-productSlider/images/e-2.jpg" target="_blank" rel="group8"></a>
            <a class="zoom2" href="./FancyMoves - jQuery product slider - with FancyBox built in - WebDesignAndSuch.com_files/img8.jpg" target="_blank" rel="group8"></a></p>
<!-- Image Ends -->

</div>
<!-- Panel Inside Ends -->
</div>
<!-- Panel Ends -->
  
    <!-- Panel Starts -->
<div class="panel" id="panel_9" style="float: left; position: relative; ">
<!-- Panel Inside Starts -->
<div class="inside">
<!-- Image Starts -->
<img src="./FancyMoves - jQuery product slider - with FancyBox built in - WebDesignAndSuch.com_files/img9.jpg" alt="">
            <p>Words aren't always meant to be read<br>
              <a class="zoom2" href="http://webdesignandsuch.com/posts/jquery-product-slider/jQuery-productSlider/images/w-1.jpg" target="_blank" rel="group9">More Views</a>
              <a class="zoom2" href="http://webdesignandsuch.com/posts/jquery-product-slider/jQuery-productSlider/images/w-2.jpg" target="_blank" rel="group9"></a>
            <a class="zoom2" href="./FancyMoves - jQuery product slider - with FancyBox built in - WebDesignAndSuch.com_files/img9.jpg" target="_blank" rel="group9"></a></p>
<!-- Image Ends -->

</div>
<!-- Panel Inside Ends -->
</div>
<!-- Panel Ends -->
  
  



