				
			<!-- Begin Article --> 
			<article class="post"> 
				<header class="postHeader"> 
				  <div class="date">Mar 6, 2010 - <span><img src="../images/diary/ico_file.png" alt=""> 
					<a href="http://www.wpdiarytheme.com/preview/?cat=3" title="View all posts in Freebies" rel="category">Freebies</a>, 
					<a href="http://www.wpdiarytheme.com/preview/?cat=4" title="View all posts in Inspiration" rel="category">Inspiration</a>, 
					<a href="http://www.wpdiarytheme.com/preview/?cat=8" title="View all posts in Tutorials" rel="category">Tutorials</a> &nbsp;&nbsp;<img src="../images/diary/ico_comment.png" alt=""> 
					<a href="http://www.wpdiarytheme.com/preview/?p=20#comments" title="Comment on Class aptentMorbi condimentum tempus tincidunt">5 Comments</a></span>
				  </div> 
				  <h2><a href="http://www.wpdiarytheme.com/preview/?p=20">何处为家</a></h2> 
				</header> 
				<section class="postText"> 
				 <p><a title="Image Link Title" rel="prettyPhoto" href="../images/diary/diary3.jpg"><img class="alignnone size-full wp-image-175" title="diary3" src="../images/diary/diary3.jpg" alt="" width="450" height="300"></a></p> 
<p>	此番回乡，带走满满一怀思念。

				家里的院子不知怎的长出一颗大树，结了不知名的花果。我欢喜的照了几张拿与姨娘看，她也不知这到底何方植物。索性也就不再更究，不问来去，不问出处。只在合适时间相遇便很好，此即缘分。

				他们把我的书全部从柜里挪出来，装进几个大箱子。母亲说，你把你那些书整理下。不要的，我好卖了。我指着那些教科书，说，这些读书时候当宝一样啃的，现在全是废纸一堆。然后又指着旁边一箱文学书籍，这些读书时你们口中的课外书籍，才是真正有用的。老了还可以当古董给儿孙看。</p> 
<p> <a href="/home/diary_read_more" class="more-link">Read more »</a></p> 
	
				</section> 
			<div class="sidebadge"></div> 
			</article> 
			<!-- End Article --> 
			
			<!-- Begin Article --> 
			<article class="post"> 
				<header class="postHeader"> 
				  <div class="date">Feb 2, 2010 - <span><img src="../images/diary/ico_file.png" alt=""> <a href="http://www.wpdiarytheme.com/preview/?cat=3" title="View all posts in Freebies" rel="category">Freebies</a>, <a href="http://www.wpdiarytheme.com/preview/?cat=8" title="View all posts in Tutorials" rel="category">Tutorials</a> &nbsp;&nbsp;<img src="../images/diary/ico_comment.png" alt=""> <a href="http://www.wpdiarytheme.com/preview/?p=95#respond" title="Comment on Sed neque ipsum, pulvinar eu tristique sollicitudin">No Comments</a></span> </div> 
				  <h2><a href="http://www.wpdiarytheme.com/preview/?p=95">时光暗纹。</a></h2> 
				</header> 
				<section class="postText"> 
				 <p><a title="Image Link Title" rel="prettyPhoto" href="../images/diary/diary1.jpg"><img class="alignnone size-full wp-image-167" title="diary1" src="../images/diary/diary1.jpg" alt="" width="450" height="300"></a></p> 
<p>Morbi condimentum tempus tincidunt. Sed neque ipsum, pulvinar eu  tristique sollicitudin, tincidunt at nisi. Aenean feugiat risus sed  lacus aliquam et adipiscing elit sodales. Aenean in erat sed neque  convallis convallis at eu metus.</p> 
<p> <a href="http://www.wpdiarytheme.com/preview/?p=95#more-95" class="more-link">Read more »</a></p> 
	
				</section> 
			<div class="sidebadge"></div> 
			</article> 
			<!-- End Article --> 
			
			<!-- Begin Article --> 
			<article class="post"> 
				<header class="postHeader"> 
				  <div class="date">Jan 8, 2010 - <span><img src="../images/diary/ico_file.png" alt=""> <a href="http://www.wpdiarytheme.com/preview/?cat=3" title="View all posts in Freebies" rel="category">Freebies</a>, <a href="http://www.wpdiarytheme.com/preview/?cat=5" title="View all posts in Resources" rel="category">Resources</a>, <a href="http://www.wpdiarytheme.com/preview/?cat=8" title="View all posts in Tutorials" rel="category">Tutorials</a> &nbsp;&nbsp;<img src="../images/diary/ico_comment.png" alt=""> <a href="http://www.wpdiarytheme.com/preview/?p=116#comments" title="Comment on Aenean in erat sed neque convallis convallis at eu metus">12 Comments</a></span> </div> 
				  <h2><a href="http://www.wpdiarytheme.com/preview/?p=116">Aenean in erat sed neque convallis convallis at eu metus</a></h2> 
				</header> 
				<section class="postText"> 
				 <p><a title="Image Link Title" rel="prettyPhoto" href="../images/diary/diary2.jpg"><img class="alignnone size-full wp-image-168" title="diary2" src="../images/diary/diary2.jpg" alt="" width="450" height="300"></a></p> 
<p>Morbi condimentum tempus tincidunt. Sed neque ipsum, pulvinar eu   tristique sollicitudin, tincidunt at nisi. Aenean feugiat risus sed   lacus aliquam et adipiscing elit sodales. Aenean in erat sed neque   convallis convallis at eu metus. In varius lacus quis diam cursus   posuere. Pellentesque habitant morbi tristique senectus et netus et   malesuada fames ac turpis egestas.</p> 
<p> <a href="http://www.wpdiarytheme.com/preview/?p=116#more-116" class="more-link">Read more »</a></p> 
	
				</section> 
			<div class="sidebadge"></div> 
			</article> 
			<!-- End Article --> 
			
			<!-- Begin Article --> 
			<article class="post"> 
				<header class="postHeader"> 
				  <div class="date">Jan 6, 2010 - <span><img src="../images/diary/ico_file.png" alt=""> <a href="http://www.wpdiarytheme.com/preview/?cat=3" title="View all posts in Freebies" rel="category">Freebies</a>, <a href="http://www.wpdiarytheme.com/preview/?cat=7" title="View all posts in Tools" rel="category">Tools</a>, <a href="http://www.wpdiarytheme.com/preview/?cat=8" title="View all posts in Tutorials" rel="category">Tutorials</a> &nbsp;&nbsp;<img src="../images/diary/ico_comment.png" alt=""> <a href="http://www.wpdiarytheme.com/preview/?p=18#comments" title="Comment on Pellentesque habitant morbi tristique senectu">1 Comment </a></span> </div> 
				  <h2><a href="http://www.wpdiarytheme.com/preview/?p=18">Pellentesque habitant morbi tristique senectu</a></h2> 
				</header> 
				<section class="postText"> 
				 <p><a href="../images/diary/diary6.jpg"><img class="alignnone size-full wp-image-172" title="diary6" src="../images/diary/diary6.jpg" alt="" width="450" height="301"></a></p> 
<p>In varius lacus quis diam cursus posuere. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Class aptentMorbi condimentum tempus tincidunt.</p> 
<p> <a href="http://www.wpdiarytheme.com/preview/?p=18#more-18" class="more-link">Read more »</a></p> 
	
				</section> 
			<div class="sidebadge"></div> 
			</article> 
			<!-- End Article --> 
					<div class="emm-paginate"><span class="emm-title">Pages:</span><span class="emm-page emm-current">1</span><a href="http://www.wpdiarytheme.com/preview/?paged=2" class="emm-page">2</a><a href="http://www.wpdiarytheme.com/preview/?paged=2" class="emm-next">»</a></div>




