<!DOCTYPE html> 
<!-- saved from url=(0036)http://www.wpdiarytheme.com/preview/ --> 
<html dir="ltr" lang="en-US"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
<meta name="keywords" content=""> 
<meta name="description" content=""> 
<meta charset="UTF-8"> 
<title>Diary/Notebook | Free Premium Wordpress Theme by Site5</title> 
<link rel="stylesheet" type="text/css" media="all" href="../images/diary/style.css"> 
<link rel="stylesheet" type="text/css" media="all" href="../images/diary/skin.php"> 
<link rel="stylesheet" type="text/css" media="all" href="../images/diary/prettyPhoto.css"> 
<!-- [if IE 7]>
<link rel="stylesheet" media="all" href="http://www.wpdiarytheme.com/preview/wp-content/themes/diary/css/ie7.css" />
<![endif]--> 
 

<!-- Google Fonts --> 
<link href="../images/diary/css.css" rel="stylesheet" type="text/css"> 
<link href="../images/diary/css1.css" rel="stylesheet" type="text/css"> 
<link href="../images/diary/css2.css" rel="stylesheet" type="text/css"> 
<link href="../images/diary/css3.css" rel="stylesheet" type="text/css"> 
 
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]--> 
<link rel="index" title="Diary/Notebook" href="http://www.wpdiarytheme.com/preview"> 
<meta name="generator" content="WordPress 3.2"> 
 
</head> 
 
<body> 
<div id="wrapper"> 
	<!-- Begin Header --> 
	<header id="page-header"> 
	  <div id="logo"> 
			<h1 id="title"><a href="/home/diary">Abel's Diary</a></h1> 
			<span>For he that is entered into his rest, he also hath ceased from his own works.</span>	  </div> 
	 <div id="topSearch"> 
		<form id="searchform" action="http://www.wpdiarytheme.com/preview" method="get"> 
			<input type="text" id="s" name="s" value="type your search and hit enter" onfocus="this.value=&#39;&#39;"> 
		</form> 
	</div> 
	</header> 
	<!-- End Header --> 
	<!-- Begin Content --> 
	<div id="content-wrapper"> 
		<div id="content-inner-wrapper"> 
 			<!-- Begin Main Content ( left col ) --> 
			<section id="main-content"> 
<%= yield%>
		</section> 
		<!-- End Main Content ( left col ) --> 
		
<aside id="sidebar"> 
	<!-- Begin Social Icons --> 
	<section id="socialIcons"> 
	<ul> 
				<li><a href="http://twitter.com/site5" class="twitter tip" title="Follow Us on Twitter!">Follow Us on Twitter!</a></li> 
						<li><a href="http://www.facebook.com/site5" class="facebook" title="Join Us on Facebook!">"Join Us on Facebook!</a></li> 
				<li><a href="http://www.wpdiarytheme.com/preview/?feed=rss2" title="RSS" class="rss">RSS</a></li> 
	</ul> 
		<a href="http://www.wpdiarytheme.com/preview/?page_id=17" id="butContact">Contact</a> 
		</section> 
	<!-- End Social Icons --> 
	<section class="sideBox"><h3>Categories</h3>		<ul> 
	<li class="cat-item cat-item-3"><a href="http://www.wpdiarytheme.com/preview/?cat=3" title="View all posts filed under Freebies">Freebies</a> 
</li> 
	<li class="cat-item cat-item-4"><a href="http://www.wpdiarytheme.com/preview/?cat=4" title="View all posts filed under Inspiration">Inspiration</a> 
</li> 
	<li class="cat-item cat-item-5"><a href="http://www.wpdiarytheme.com/preview/?cat=5" title="View all posts filed under Resources">Resources</a> 
</li> 
	<li class="cat-item cat-item-7"><a href="http://www.wpdiarytheme.com/preview/?cat=7" title="View all posts filed under Tools">Tools</a> 
</li> 
	<li class="cat-item cat-item-8"><a href="http://www.wpdiarytheme.com/preview/?cat=8" title="View all posts filed under Tutorials">Tutorials</a> 
</li> 
		</ul> 
</section><section class="sideBox"><h3>Pages</h3>		<ul> 
			<li class="page_item page-item-15"><a href="http://www.wpdiarytheme.com/preview/?page_id=15" title="About">About</a></li> 
<li class="page_item page-item-17"><a href="http://www.wpdiarytheme.com/preview/?page_id=17" title="Contact">Contact</a></li> 
		</ul> 
		</section><section class="sideBox"><h3 class="twitter">Latest Tweets</h3>				<div id="twitter"> 
				
					
				<ul class="tweet_list"></ul><p class="loading"><span style="color:#999;font-size:11px;">...searching twitter...</span></p></div> 
				<a href="http://twitter.com/site5" class="followTwitter">Follow me on Twitter! »</a> 
				
	</section><section class="sideBox"><div class="menu-topmenu-container"><ul id="menu-topmenu" class="menu"></ul></div></section></aside> 
</div> 
	</div> 
	<!-- End Content --> 
	<footer id="page-footer"> 
	<div id="site5bottom">Theme by Site5. <br><a href="http://www.site5.com/">Experts in Web Hosting</a>.</div> 
	<div id="html5"> 
		<a href="http://www.w3.org/html/logo/" title="HTML5 Inside"> 
		<img src="../images/diary/html5_logo.png" alt="HTML5 Inside" title="HTML5 Inside"></a><br> 
  </div> 
  
	© Copyright 2011 Diary/Notebook Theme by Site5.com. All Rights Reserved. 	</footer> 
</div> 
 
 
		
 
<div class="pp_pic_holder light_rounded" style="top: 221px; left: 581.5px; ">       <div class="pp_top">        <div class="pp_left"></div>        <div class="pp_middle"></div>        <div class="pp_right"></div>       </div>       <div class="pp_content_container">        <div class="pp_left">        <div class="pp_right">         <div class="pp_content">          <div class="pp_loaderIcon"></div>          <div class="pp_fade">           <a href="http://www.wpdiarytheme.com/preview/#" class="pp_expand" title="Expand the image">Expand</a>           <div class="pp_hoverContainer">            <a class="pp_next" href="http://www.wpdiarytheme.com/preview/#">next</a>            <a class="pp_previous" href="http://www.wpdiarytheme.com/preview/#">previous</a>           </div>           <div id="pp_full_res"></div>           <div class="pp_details clearfix">            <a class="pp_close" href="http://www.wpdiarytheme.com/preview/#">Close</a>            <p class="pp_description"></p>            <div class="pp_nav">             <a href="http://www.wpdiarytheme.com/preview/#" class="pp_arrow_previous">Previous</a>             <p class="currentTextHolder">0/0</p>             <a href="http://www.wpdiarytheme.com/preview/#" class="pp_arrow_next">Next</a>            </div>           </div>          </div>         </div>        </div>        </div>       </div>       <div class="pp_bottom">        <div class="pp_left"></div>        <div class="pp_middle"></div>        <div class="pp_right"></div>       </div>      </div>      <div class="pp_overlay" style="opacity: 0; height: 3313px; "></div>      <div class="ppt" style="top: 221px; left: 601.5px; "></div><embed id="xunlei_com_thunder_helper_plugin_d462f475-c18e-46be-bd10-327458d045bd" type="application/thunder_download_plugin" height="0" width="0"></body></html>