<!DOCTYPE html> 
<!-- saved from url=(0036)http://www.wpdiarytheme.com/preview/ --> 
<html dir="ltr" lang="en-US"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
<meta name="keywords" content=""> 
<meta name="description" content=""> 
<meta charset="UTF-8"> 
<title>Diary/Notebook | Free Premium Wordpress Theme by Site5</title> 

<link rel="stylesheet" type="text/css" media="all" href="../images/diary/style.css"> 
<link rel="stylesheet" type="text/css" media="all" href="../images/diary/skin.php"> 
<%= javascript_include_tag "jquery",
    "../images/diary/jquery.prettyPhoto",

	"jquery-validation-1.8.1/jquery.validate.min",
	"jquery-validation-1.8.1/localization/messages_cn"
 %>
<%= stylesheet_link_tag "../images/diary/prettyPhoto" %>
<link rel="shortcut icon" href="/images/favicon.ico"> 
<!-- [if IE 7]>
<link rel="stylesheet" media="all" href="http://www.wpdiarytheme.com/preview/wp-content/themes/diary/css/ie7.css" />
<![endif]--> 
 

<!-- Google Fonts --> 
<link href="../images/diary/css.css" rel="stylesheet" type="text/css"> 
<link href="../images/diary/css1.css" rel="stylesheet" type="text/css"> 
<link href="../images/diary/css2.css" rel="stylesheet" type="text/css"> 
<link href="../images/diary/css3.css" rel="stylesheet" type="text/css"> 
 
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]--> 
<link rel="index" title="Diary/Notebook" href="http://www.wpdiarytheme.com/preview"> 
<meta name="generator" content="WordPress 3.2"> 
 
</head> 
 
<body> 
<div id="wrapper"> 
	<!-- Begin Header --> 
	<header id="page-header"> 
	  <div id="logo"> 
			<h1 id="title"><a href="/home/diary">Abel's Diary</a></h1> 
			<span>For he that is entered into his rest, he also hath ceased from his own works.</span>	  </div> 
	 <div id="topSearch"> 
		<form id="searchform" action="http://www.wpdiarytheme.com/preview" method="get"> 
			<input type="text" id="s" name="s" value="type your search and hit enter" onfocus="this.value=&#39;&#39;"> 
		</form> 
	</div> 
	</header> 
	<!-- End Header --> 
	<!-- Begin Content --> 
	<div id="content-wrapper"> 
		<div id="content-inner-wrapper"> 
 			<!-- Begin Main Content ( left col ) --> 
			<section id="main-content"> 
<%= yield%>
		</section> 
		<!-- End Main Content ( left col ) --> 
		
<aside id="sidebar"> 
	<!-- Begin Social Icons --> 
	<section id="socialIcons"> 
	<ul> 
				<li><a href="/diary/new" class="twitter tip" title="New">新文章 New</a></li> 
						<li><a href="http://www.facebook.com/site5" class="facebook" title="Join Us on Facebook!">"Join Us on Facebook!</a></li> 
				<li><a href="http://www.wpdiarytheme.com/preview/?feed=rss2" title="RSS" class="rss">RSS</a></li> 
	</ul> 
		<a href="http://www.wpdiarytheme.com/preview/?page_id=17" id="butContact">Contact</a> 
		</section> 
	<!-- End Social Icons --> 
	<section class="sideBox"><h3>类别 Categories</h3>		<ul> 
	<li class="cat-item cat-item-3"><a href="http://www.wpdiarytheme.com/preview/?cat=3" title="View all posts filed under Freebies">文章 Freebies</a> 
</li> 
	<li class="cat-item cat-item-4"><a href="http://www.wpdiarytheme.com/preview/?cat=4" title="View all posts filed under Inspiration">视频 Inspiration</a> 
</li> 
	<li class="cat-item cat-item-5"><a href="http://www.wpdiarytheme.com/preview/?cat=5" title="View all posts filed under Resources">音乐 Resources</a> 
</li> 
	<li class="cat-item cat-item-7"><a href="http://www.wpdiarytheme.com/preview/?cat=7" title="View all posts filed under Tools">其他 Tools</a> 
</li> 
	<li class="cat-item cat-item-8"><a href="http://www.wpdiarytheme.com/preview/?cat=8" title="View all posts filed under Tutorials">Tutorials</a> 
</li> 
		</ul> 
</section><section class="sideBox"><h3>网页 Pages</h3>		<ul> 
			<li class="page_item page-item-15"><a href="/" title="Home">首页 Home</a></li> 
<li class="page_item page-item-17"><a href="http://www.wpdiarytheme.com/preview/?page_id=17" title="Contact">Contact</a></li> 
		</ul> 
		</section><section class="sideBox"><h3 class="twitter">Latest Tweets</h3>				<div id="twitter"> 
				
					
				<ul class="tweet_list"></ul><p class="loading"><span style="color:#999;font-size:11px;">...searching twitter...</span></p></div> 
				<a href="http://twitter.com/site5" class="followTwitter">Follow me on Twitter! »</a> 
				
	</section><section class="sideBox"><div class="menu-topmenu-container"><ul id="menu-topmenu" class="menu"></ul></div></section></aside> 
</div> 
	</div> 
	<!-- End Content --> 
	<footer id="page-footer"> 
	<div id="site5bottom">Theme by Site5. <br><a href="http://www.site5.com/">Experts in Web Hosting</a>.</div> 
	<div id="html5"> 
		<a href="http://www.w3.org/html/logo/" title="HTML5 Inside"> 
		<img src="../images/diary/html5_logo.png" alt="HTML5 Inside" title="HTML5 Inside"></a><br> 
  </div> 
  
	© Copyright 2011 Diary/Notebook Theme by Site5.com. All Rights Reserved. 	</footer> 
</div> 
 
 
		
 

<script type="text/javascript" charset="utf-8">


  $(document).ready(function(){
	//initial prettyphoto
    $("a[rel^='prettyPhoto']").prettyPhoto();
	
    $('#butContact').mouseover(function(){
			$(this).hide();
			$(this).css('background-position','50% -29px');
			$(this).fadeIn('normal');
		});

	$('#butContact').mouseout(function(){
			$(this).hide();
			$(this).css('background-position','50% 0');
			$(this).fadeIn('normal');
		});


	$("#commentform").submit(function(){
	  jQuery('#diary_title').css("border","none");
	  if ($.trim(jQuery('#diary_title').val()) == ""){
		jQuery('#diary_title').focus().css("border","1px solid red");
	    //alert("标题不能唯空。 Title can't be blank.");
	    jQuery('#error_diary_title').html("标题不能唯空。 Title can't be blank.");
	    return false;
      }
     // $("#commentform").submit();
      var content= $("#diary_content").html().replace(/\n\r/g,"<br/>");
      $("#diary_content").html(content);
     });

     //vlidation
	 // $("#commentform").validate({
	 //               errorClass: "error",
	 //               submitHandler: function(form)
	 //               {
	 //                   //如果想提交表单, 需要使用form.submit()而不要使用$(form).submit()
	 //                   alert("submitted!");
	 //               },
	 //               rules: {
	 //                   //为name为email的控件添加两个验证方法:required()和email()
	 //                   article_title: { required: true }
	 //               },
	 //               messages: {
	 //                   //为name为email的控件的required()和email()验证方法设置验证失败的消息内容
	 //                   article_title: {required:"Title can't be blank."}
	 //               }
	 //           });
	

   });
    
</script>

</body></html>